* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    background: #E5E5E5;

}

.container {
    background: #F4F4F4;
    width: 375px;
    height: 766px;
    margin: 0 auto;
    margin-top: 70px;
}

header {
    background: #1B83E2;
    height: 66px;

}

h1 {
    font-size: 24px;
    color: #F4F4F4;
    text-align: center;
    padding: 25px;
}

main {
    padding: 24px;
}

label {
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

button {
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    border: none;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.currency-container {
    text-align: center;
    padding: 10px;
}

.currency-name {
    font-size: 14px;
    color: #777777;
}

.currency-value {
    font-size: 20px;
    color: #1B83E2;
}

.arrow-img {
    margin: 15px auto;
    display: block
}